.message-form {
    position: fixed;
    top: 75%;
    width: 95%;
}

.messages-list {
    padding: 2%;
    max-height: 40rem;
    overflow: auto;
}

.message-div {
    width: 95%;
}

@media (max-height: 760px) {
    .messages-list {
        max-height: 30rem;
    }
}

@media (max-height: 620px) {
    .messages-list {
        max-height: 20rem;
    }
}

@media (max-height: 360px) {
    .messages-list {
        max-height: 10rem;
    }
}