.group-right {
  margin-right: 0.5rem;
}

.password-input {
  width: 30%;
}

.password-alert {
    width: 40%;
}

@media (max-width: 760px) {
  .password-input {
    width: 70%;
  }
  .password-alert {
    width: 90%;
  }
}
