.group-button {
    margin-left: 1rem;
}

.group-actions {
    margin-top: 2rem;
}

.modal-info {
    margin-top: 1rem;
}

.modal-info span {
    display: block;
}

.details-list {
    padding-left: 3%;
}

.group-sm {
    margin-top: 0.5rem;
}

.save-chat {
    width: 13rem;
}